@using WareHouse.Entity
@{
    ViewData["Title"] = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div id="toolbar">
        <button id="add-btn" class="btn btn-cyan">添加用户</button>
    </div>
    <table class="table table-striped table-hover" id="user-table"></table>
</div>

@section Scripts
{
    <script>
        $('#user-table').bootstrapTable({
            //url: '/Home/GetPages',         //请求后台的URL（*）
            //method: 'get',                      //请求方式（*）
            //toolbar: '#toolbar',                //工具按钮用哪个容器
            //striped: true,                      //是否显示行间隔色
            //cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            //pagination: true,                   //是否显示分页（*）
            //sortable: true,                     //是否启用排序
            //sortOrder: "asc",                   //排序方式
            //queryParams: 'queryParams',         //传递参数（*）
            //sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            //pageNumber:1,                       //初始化加载第一页，默认第一页
            //pageSize: 10,                       //每页的记录行数（*）
            //pageList: [5, 10, 25, 50],        //可供选择的每页的行数（*）
            //smartDisplay:false,
            //search: false,                      //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            //strictSearch: true,
            //showColumns: false,                 //是否显示所有的列
            //showRefresh: true,                 //是否显示刷新按钮
            //minimumCountColumns: 2,             //最少允许的列数
            //clickToSelect: true,                //是否启用点击选中行
            //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            //uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            //showToggle:false,                   //是否显示详细视图和列表视图的切换按钮
            //cardView: false,                    //是否显示详细视图
            //detailView: false,                   //是否显示父子表

            method: 'get',
            url: "@Url.Action("GetUserModel")", //请求路径
            striped: true, //是否显示行间隔色
            toolbar: '#toolbar',                //工具按钮用哪个容器
            pageNumber: 1, //初始化加载第一页
            pagination: true, //是否分页
            sidePagination: 'client', //server:服务器端分页|client：前端分页
            pageSize: 5, //单页记录数
            pageList: [5, 10, 20, 30], //可选择单页记录数
            showRefresh: true, //刷新按钮
            columns: [
                {
                    field: "id",
                    title: "主键"
                }, {
                    field: "name",
                    title: "用户名"
                }, {
                    field: "email",
                    title: "邮箱"
                }, {
                    field: "roleName",
                    title: "分组"
                }, {
                    field: "state",
                    title: "状态"
                }, {
                    field: "id",
                    title: "操作",
                    formatter: function(value, row, index) {
                        var html = '';
                        html += "<button class='btn btn-default' onclick='edit(" + value + ")'>修改</button>";
                        html += "<button class='btn btn-default' onclick='del(" + value + ")'>删除</button>";
                        return html;
                    }
                }
            ]
        });

        $("#add-btn").click(function () {
            window.location.href = "@Url.Action("Create")";
        });
        function edit(id) {
            window.location.href = "@Url.Action("Update")?id="+id;
        }
        function del(id) {
            $.post({
                url: '@Url.Action("DeleteUser")',
                data: {
                    id:id
                },
                success: function (res) {
                    if (res.code===200) {
                        $.message("删除成功");
                        setTimeout(function() {
                            window.location.href = "@Url.Action("Index")";
                        },2000);
                    }
                }
            });
        }
    </script>
}